<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,439},{80,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,39}}</string>
                <key>sourceSize</key>
                <string>{80,39}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,521},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,39}</string>
            </dict>
            <key>bonus_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,287},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bonus_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,325},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bonus_invincible.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,363},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bonus_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,401},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bonus_missile.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,683},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>boss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{283,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{283,216}}</string>
                <key>sourceSize</key>
                <string>{285,216}</string>
            </dict>
            <key>boss1_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,407},{283,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{283,216}}</string>
                <key>sourceSize</key>
                <string>{285,216}</string>
            </dict>
            <key>boss1_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{283,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{283,216}}</string>
                <key>sourceSize</key>
                <string>{285,216}</string>
            </dict>
            <key>boss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{254,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,197}}</string>
                <key>sourceSize</key>
                <string>{254,197}</string>
            </dict>
            <key>boss2_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,201},{254,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,197}}</string>
                <key>sourceSize</key>
                <string>{254,197}</string>
            </dict>
            <key>boss2_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,400},{254,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,197}}</string>
                <key>sourceSize</key>
                <string>{254,197}</string>
            </dict>
            <key>boss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,287},{82,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,97}}</string>
                <key>sourceSize</key>
                <string>{82,97}</string>
            </dict>
            <key>boss3_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,371},{82,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,97}}</string>
                <key>sourceSize</key>
                <string>{82,97}</string>
            </dict>
            <key>boss3_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,455},{82,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,97}}</string>
                <key>sourceSize</key>
                <string>{82,97}</string>
            </dict>
            <key>bullet_m1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,786},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>bullet_m2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,786},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>bullet_m3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,786},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>bullet_missile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{18,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,47}}</string>
                <key>sourceSize</key>
                <string>{18,47}</string>
            </dict>
            <key>bullet_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,786},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>bullet_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,786},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>bullet_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,786},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>bullet_yellow_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,539},{50,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,94}}</string>
                <key>sourceSize</key>
                <string>{50,94}</string>
            </dict>
            <key>effect_health.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{378,350}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,212},{378,350}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>effect_invincible.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,308}}</string>
                <key>offset</key>
                <string>{5,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,209},{430,308}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>fighter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,287},{87,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,120}</string>
            </dict>
            <key>fighter2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,692},{87,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,120}</string>
            </dict>
            <key>fighter_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,692},{87,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,120}</string>
            </dict>
            <key>fighter_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,692},{87,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,120}</string>
            </dict>
            <key>invincible.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,692},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,407},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>s1_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,407},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,721},{82,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,69}}</string>
                <key>sourceSize</key>
                <string>{82,69}</string>
            </dict>
            <key>s2_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,701},{82,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,69}}</string>
                <key>sourceSize</key>
                <string>{82,69}</string>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,599},{91,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,76}}</string>
                <key>sourceSize</key>
                <string>{91,76}</string>
            </dict>
            <key>s3_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,599},{91,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,76}}</string>
                <key>sourceSize</key>
                <string>{91,76}</string>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,599},{82,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,77}}</string>
                <key>sourceSize</key>
                <string>{82,77}</string>
            </dict>
            <key>s4_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,599},{82,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,77}}</string>
                <key>sourceSize</key>
                <string>{82,77}</string>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,287},{118,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,102}}</string>
                <key>sourceSize</key>
                <string>{118,102}</string>
            </dict>
            <key>s5_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,287},{118,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,102}}</string>
                <key>sourceSize</key>
                <string>{118,102}</string>
            </dict>
            <key>s6.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,683},{93,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,100}}</string>
                <key>sourceSize</key>
                <string>{93,100}</string>
            </dict>
            <key>s6_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,599},{93,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,100}}</string>
                <key>sourceSize</key>
                <string>{93,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>entities.png</string>
            <key>size</key>
            <string>{1012,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33d6cb03600a75c387dadf5cb901afa6:16a45d95b1dc95f0d7a7ab96859af6b4:0d3aaed6340f784d0ee13a7db908eb2f$</string>
            <key>textureFileName</key>
            <string>entities.png</string>
        </dict>
    </dict>
</plist>
